**/__pycache__/
__pypackages__/
*_versions
*.pyc
.vscode

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# Environments
/venv
.venv
.env

# Editor
.vscode
.ruff_cache

# FrontEnd
**/node_modules