/* Footer */
footer {
    grid-row: end;
    display: grid;
    margin-top: 300px;
}

footer>.items-container {
    display: grid;
    background-color: #1f2130;
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-items: center;
    min-height: 300px;
}

/* Waves */
footer>.items-container>.waves {
    grid-row: 1/1;
    grid-column: 1/end;
    margin-top: -20px;
    background: linear-gradient(to top, #1f2130 10%, #ff7474 20%, #fbeec5 50%, #f4f4f5 100%);
}

@keyframes wave-animation {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


@media only screen and (min-width: 0px) and (max-width: 480px) {
    footer {
        overflow-x: hidden;
    }

    footer>.items-container>.waves {
        width: 800px;
    }
}